* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: 100%;
  position: relative;
 }


 header {
  background: #343a40;
  color: #fff;
}

header h1 {
  display: inline;
  font-weight: 300;
}

 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }

 footer {
  background: #343a40;
  color: #fff;
  text-align: center;
}

footer h1 {
  font-weight: 300;
  font-size: 25px;
}

.container {
  padding-top: 5rem;
}
